.container{
    display: flex;
    background-color: #badbcc;
}
.card{
    width: 50%;
    margin: 10px 0 10px 0;
    padding: 20px;
}
.form{
    padding: 0 0 20px 0;
}
.form-control, .form-label, .btn-success{
    width: 90%;
    margin: 0 auto;
}
